#pragma once

#include <cstdint>
#include <concepts>

namespace hal {
namespace flash {

// FLASH register base addresses
{{data_prefix}} {{data_type}} {{flash["base_address_name"]}} = {{data_macro}}({{flash["address"]}});

template <{{data_type}} base_addr>
concept is_valid_base_address = (
    base_addr == {{flash["base_address_name"]}}
);

{%- for register in flash["registers"] %}
{{data_prefix}} {{data_type}} FLASH_{{register["name"]}}_OFFSET{{" " * (12 - register["name"]|length)}} = {{data_macro}}({{register["offset"]}});
{%- endfor %}

{%- for register in flash["registers"] %}
// {{register["description"]}}
{%- for field in register["fields"] %}
{{data_prefix}} {{data_type}} {{flash["name"]}}_{{register["name"]}}_{{field["name"]}}_MSK{{" " * (10 - field["name"]|length)}} = {{data_macro}}({{field["bitmask"]}});
{{data_prefix}} {{data_type}} {{flash["name"]}}_{{register["name"]}}_{{field["name"]}}_POS{{" " * (10 - field["name"]|length)}} = {{data_macro}}({{field["offset"]}});
{%- endfor %}
{%- endfor %}

} /* namespace flash */
} /* namespace hal */