#pragma once

#include <cstdint>
#include <concepts>

namespace hal {
namespace scb {

// SCB register base addresses
{{data_prefix}} {{data_type}} {{scb["base_address_name"]}} = {{data_macro}}({{scb["address"]}});

template <{{data_type}} base_addr>
concept is_valid_base_address = (
    base_addr == {{scb["base_address_name"]}}
);

{%- for register in scb["registers"] %}
{{data_prefix}} {{data_type}} STK_{{register["name"]}}_OFFSET{{" " * (12 - register["name"]|length)}} = {{data_macro}}({{register["offset"]}});
{%- endfor %}

{%- for register in scb["registers"] %}
// {{register["description"]}}
{%- for field in register["fields"] %}
{{data_prefix}} {{data_type}} {{scb["name"]}}_{{register["name"]}}_{{field["name"]}}_MSK{{" " * (10 - field["name"]|length)}} = {{data_macro}}({{field["bitmask"]}});
{{data_prefix}} {{data_type}} {{scb["name"]}}_{{register["name"]}}_{{field["name"]}}_POS{{" " * (10 - field["name"]|length)}} = {{data_macro}}({{field["offset"]}});
{%- endfor %}
{%- endfor %}

} /* namespace scb */
} /* namespace hal */